.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error{
    color: red;
}

.add-button{
    color:white;
    background-color: blue;
}

.disabled-button{
    color:black;
    background-color: gray;
}